.form {
  h3 {
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 15px;
  }

  .row {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;

    .element {
      display: flex;

      label {
        min-width: 120px;
        max-width: 120px;
        line-height: 30px;

        & ~ * {
          width: 100%;
        }

        & ~ button {
          width: auto;
        }
      }
    }

    .error-messages {
      .error-message {
        margin-left: 120px;
        font-size: 12px;
        color: $text-color-error;
      }
    }

    &.error .element label ~ * {
      border-color: $border-color-error;
      background: $background-error-color;
    }
  }

  .select {
    border: $input-border;

    .option {
      padding: 3px 7px;
      margin: 0 5px 5px;

      &:first-of-type {
        margin-top: 5px;
      }

      &.selected {
        color: white;
        background: rgb(67, 150, 234);
        border-radius: 4px;
      }

      &:hover:not(.selected) {
        cursor: pointer;
      }
    }
  }
}